*{
    margin: 0;

}
.container{
    margin: 100px auto;
    width: min-content;
}
.dropdown-btn{
    outline: none;
    border: none;
    background: #6c757d;
    padding: 12px 24px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.15 ease-in-out;

}