*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{     
    height: 100vh;
}
.main{
    min-height: 100%;
}
.form-login{
    width: 550px;
    color: white;
    background-color: #333333FF;
    padding-top: 60px;
    min-height: 620px;
    border-radius: 3px;
    margin: 160px auto;
    position: relative;
}
.button-close{
    position: absolute;
    top: 28px;
    right: 30px;
}
.form-body{
    padding: 32px;
    display: flex;
    flex-direction: column;
}
.text-center{
    text-align: center;
}
h2.title{
    margin-bottom: 38px;
    font: 18px "Roboto-Bold", sans-serif;

}
.form-input-group{
    padding-bottom: 32px;
    position: relative;
    display: flex;
    width: 100%;
}
.action-show-pass{
    position: absolute;
    top: 0;
    right: 0;
}
.form-login-help{
    padding-bottom: 28px;
}
.space-or{
    
}